<div class="footer">
  <a href="#" id="link-8024-93" class="" target="_parent">Disclaimer</a> |
  <a href="#" id="link-7470-333" class="" target="_parent">Terms &amp; Conditions</a> |
  <a href="#" id="link-8363-267" class="" target="_parent">Privacy Policy</a><div><br></div>
  <div>Copyright © 2022 Unlivreparsemaine.fr. Tous droits réservés.</div>
</div>
