body
  header
    div
      span.links.hide-mobile.pull-left style=("display:#{defined?(landing) ? "none" : "block"}") 
        = link_to "YouTube", "https://www.youtube.com/c/HarryJMG?sub_confirmation=1", target: "_blank"
        span.gap
      span
        = link_to root_path do
          = image_tag "harry.png", class: "logo"
      span
        span.links.hide-mobile.pull-right style=("display:#{defined?(landing) ? "none" : "block"}") 
          span.gap
          a href="https://www.skool.com/coding-accelerator"  Se connecter
    .show-mobile.links style=("display:#{defined?(landing) ? "none" : "block"}") 
      = link_to "YouTube", "https://www.youtube.com/c/HarryJMG?sub_confirmation=1", target: "_blank"
      = link_to "Se connecter", "https://www.skool.com/coding-accelerator"
