<div id="<%= dom_id episode %>">
  <p>
    <strong>Title:</strong>
    <%= episode.title %>
  </p>

  <p>
    <strong>Book author:</strong>
    <%= episode.book_author %>
  </p>

  <p>
    <strong>Average rating:</strong>
    <%= episode.average_rating %>
  </p>

</div>
