<h1 class="title">Merci !</h1>
<p style="text-align: center">Vous allez recevoir dans les prochaines minutes un premier contenu que je vous laisse découvrir :)</p>
<p class="mb-5" style="text-align: center">Vous ne recevez rien ? Contactez harry@jemeditetouslesjours.fr</p>
