<div class="landing-segment">
  <div class="container-sm">

    <h1 class="title">Dernière étape !</h1>
    <p style="text-align: center">Renseignez vos informations de facturation.</p>

    <div data-thrivecart-account="harryjmg" data-thrivecart-tpl="v2" data-thrivecart-product="16" class="thrivecart-embeddable" data-thrivecart-embeddable="tc-harryjmg-16-ESM1HI"></div><script async src="//tinder.thrivecart.com/embed/v1/thrivecart.js" id="tc-harryjmg-16-ESM1HI"></script>
  </div>
</div>
