<% content_for(:html_title) { 'Presentation' } %>

<style>
  html {
    background-color: #ffd383;
  }
  .product-box {
    border: 3px solid white;;
  }
</style>

<div class="container">
  <main id="page1">
    <div>
      <%= image_tag "harry.png", class: "harry_jmg", style: "border: white 3px solid; border-radius: 50%;" %>
      <div class="title">
       Devenez 1% meilleurs chaque semaine grâce aux meilleures connaissances de la 🌍
      </div>
      <div class="subtitle">
        Reçois toutes les semaines un condensé des meilleurs livres sur ces 5 thèmes : <br class="hide-mobile">la spiritualité, la psychologie, les finances, la productivité et la philosophie.
      </div>
    </div>

    <div class="text-left">
      <h2>
        Présentation du projet
      </h2>
      <iframe frameborder="0" loading="lazy" id="ausha-558H" height="220" style="border: none; width:100%; height:220px" src="https://player.ausha.co/index.html?showId=B6Ad3sAApEzX&color=%2380aee6&podcastId=B6p6OcmnPr1M&v=3&playerId=ausha-558H"></iframe><script src="https://player.ausha.co/ausha-player.js"></script>

      <%= link_to "JE PARTICIPE AU LANCEMENT", presentation_path, class: "button-block", style: "margin-bottom:16px" %>
      </div>
  </main>
</div>
