- content_for(:html_title) { 'Merci' }
.container
  main#page1
    div
      = image_tag "harry.png", class: "harry_jmg"
      .title
        | Merci, #{@prospect.name} !
      p
        | Adresse enregistrée : #{@prospect.email}
      .subtitle style="margin-bottom:0.5rem" 
        span style=("text-decoration: line-through")  Votre
        | Ton (on peut se tutoyer non ?) inscription à la liste de pré-lancement est validée.
        = succeed "Merci" do
          br.hide-mobile/
      .subtitle
        | \- Harry
    p.small-notice Pour être certain de me recevoir, ajoute harry@unlivreparsemaine.fr à tes contacts.
