@import "bootstrap";

body {
  text-align: center;
}

.heading-2 {
  text-transform: capitalize;
  font-size: 2.7em;
}

.title {
  text-align: center;
  margin-top: 3rem;
}

.cta {
  text-align: center;
  margin-top: 2rem;
}

.hero {
  padding-top: 6rem;
  max-width: 780px;
  margin: 0 auto;
}

.vsl {
  box-shadow: black 0px 5px 15px;
  max-width: 840px;
  margin: 0 auto;
}

.sub-vsl {
  max-width: 840px;
  margin: 0 auto;
  font-family: 'Avenir', 'Arial';
  font-size: 1.1rem;
}

.elementor-shape {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
    transform: rotate(180deg);
    bottom: -1px;
}

.elementor-shape-fill {
  fill: #009FFD2B;
}
