@import "application";

.book-author {
    font-size: 0.5em;
    line-height: normal;
    opacity: 0.5;
}

.section-head {
    text-align: left;
    max-width: 700px;
    margin: 0 auto;
    font-size: x-large;
    font-weight: lighter;
    margin-bottom: 0.6em;

    &.notes {
        margin-top: 2em;
    }
}

.section-content {
    &.audio {
        max-width: 950px;
        margin: 0 auto;
    }
    &.notes {
        text-align: left;
        background: white;
        padding: 2em 2em;
        box-shadow: #d6d6d6 0px 0px 10px 0px;
        margin-bottom: 5em;
    }
    &.audio-problem a {
        color: #5c709b;
        text-decoration: underline;
    }
}

@media only screen and (min-width: 769px) {
    .section-content {
        &.notes {
            border-radius: 15px;
            margin: 1em 1em 5em;
        }
    }
}

@media only screen and (max-width: 768px) {
    .subtitle {
        margin-bottom: 30px !important;
    }

    .section-head {
        margin-left: 2em;
    }
    
    .section-content {
        &.notes {
            margin: 1em 0 5em;
        }
    }
}

button {
    margin: 20px;
}
.custom-btn {
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.custom-btn:hover {
    text-decoration: none;
}

/* 6 */
.btn-6 {
    background: rgb(247,150,192);
    background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
    
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 2rem;
}
.btn-6 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.btn-6:before,
.btn-6:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
    box-shadow:
    -1px -1px 20px 0px rgba(255,255,255,1),
    -4px -4px 5px 0px rgba(255,255,255,1),
    7px 7px 20px 0px rgba(0,0,0,.4),
    4px 4px 5px 0px rgba(0,0,0,.3);
}
.btn-6:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
}
.btn-6:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
}
.btn-6:hover{
    background: transparent;
    color: #76aef1;
    box-shadow: none;
}
.btn-6:hover:before {
    transition: all 500ms ease;
    height: 100%;
}
.btn-6:hover:after {
    transition: all 500ms ease;
    height: 100%;
}
.btn-6 span:before,
.btn-6 span:after {
    position: absolute;
    content: "";
    box-shadow:
    -1px -1px 20px 0px rgba(255,255,255,1),
    -4px -4px 5px 0px rgba(255,255,255,1),
    7px 7px 20px 0px rgba(0,0,0,.4),
    4px 4px 5px 0px rgba(0,0,0,.3);
}
.btn-6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}
.btn-6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}
.btn-6 span:hover:before {
    width: 100%;
}
.btn-6 span:hover:after {
    width: 100%;
}
